<!doctype html>
<html lang="en-us" itemscope itemtype="https://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <title>Jeffrey Louden – Vice President, Software Engineering at TIME</title>
  <style>a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}body::-moz-selection,body::selection,html::-moz-selection,html::selection{background:#ff0}em{font-style:italic}</style>
  <style>
    li::marker {
        display: none !important;
    }

    :root {
        --black: #111419;
        --green: #00e5ff;
        --grey: #222;
        --white: #eee;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        background-color: var(--black);
        box-sizing: border-box;
        color: var(--white);
        font-family: 'Courier', monospace;
        font-size: 62.5%;
        margin: 2%;
    }

    a {
      color: var(--green);
      text-decoration: none;
    }

    header {
      margin-bottom: 10px;
    }

    h1,
    h2 {
      font-weight: bold;
      display: inline-block;
    }

    h1 {
      font-size: .75rem;
      margin-right: 5px;
    }

    h2 {
      position: relative;
      top: 5px;
    }

    main {
        color: var(--grey);
        cursor: default;
        font-size: 1rem;
        overflow-wrap: break-word;
        padding-bottom: 20px;
    }

    d {
      color: var(--green);
      opacity: .5;
      position: relative;
      top: 1px;
    }

    d:hover {
      opacity: 1;
    }

    footer {
      background: var(--black);
      bottom: 0;
      left: 0;
      position: fixed;
      padding: 10px 2%;
      right: 0;
    }

    footer a {
      color: var(--white);
      text-decoration: underline;
    }
  </style>
  <meta name="robots" content="all">
  <meta name="author" content="Jeffrey Louden">
  <meta name="description" content="Mission-driven Engineering leader. Vice President of Software Engineering at Time, Inc. Formerly Lyft, The New York Times, Google, The New Yorker, Obama for America, and Apple.">
  <link rel="canonical" href="https://jefflouden.com">
  <meta itemprop="image" content="https://jefflouden.com/beard.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://jefflouden.com/favicon.ico">
  <link rel="me" href="https://github.com/jeffreylouden">
  <link rel="me" href="https://sr.ht/~louden/">
  <link rel="me" href="https://www.linkedin.com/in/jeffreylouden/">
</head>
<body>
  <header>
    <h1>Jeffrey Louden</h1>
    <h2>
      <a href="https://www.linkedin.com/in/jeffreylouden/" title="Jeffrey Louden on LinkedIn" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"></path>
        </svg>
      </a>
    </h2>
    <h2>
      <a href="https://sr.ht/~louden/" title="Jeffrey Louden on Sourcehut" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"></path>
        </svg>
      </a>
    </h2>
  </header>
  <main>%s</main>
  <footer>
    <small>&copy; 2004-<time>2022</time> Jeffrey Louden. All Rights Reserved. <a href="https://git.sr.ht/~louden/jefflouden.com" title="Source Code on Sourcehut">source</a></small>
  </footer>
  <script type="application/ld+json">
      {
      "@context": "https://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Great Barrington",
        "addressRegion": "MA"
      },
      "jobTitle": "Vice President, Software Engineering",
      "worksFor": "TIME USA, LLC."
      "givenName": "Jeffrey",
      "familyName": "Louden",
      "alumniOf": [
        "Florida State University",
        "Berklee College of Music"
      ],
      "birthDate": "1983-01-07",
      "url": "https://jefflouden.com",
      "sameAs" : [
        "https://github.com/jeffreylouden",
        "https://sr.ht/~louden/",
        "https://www.linkedin.com/in/jeffreylouden/"
      ]
    }
  </script>
</body>
</html>
